# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dépendances
/node_modules
/.pnp
.pnp.js

# Tests
/coverage

# Production
/build
.vite

# Fichiers temporaires et journaux
.DS_Store
._.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.env

# Caches
.cache/
.eslintcache
.prettiercache

# IDEs et éditeurs
.vscode/