.navbar {
  display: flex;
  height: 79px;
  width: 100%;
  top: 0;
  position: sticky;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: #000;

  .__logo {
    display: flex;
    width: 5rem;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .__nav_menu {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    opacity: 1;

    li {
      cursor: pointer;
      text-decoration: none;
      list-style-type: none;
    }

    .__icons_link {
      width: 4rem;
      height: auto;
      padding: 0.5rem;
    }
  }

  .__nav_burger_menu {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    padding: 0.3rem;
    opacity: 1;
    flex-direction: column;
    img {
      width: 33px;
    }

    .__burger_btn {
      border: none;
      background: none;
      cursor: pointer;
      z-index: 4;
      display: block;
      height: auto;
      width: auto;
      align-items: flex-end;
      align-content: end;
      margin-left: auto;

      img {
        width: 26px;
        height: auto;
      }

      .__menu_mobile {
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
      }
    }
  }
  ///////////////////////// RESPONSIVE //////////////////////
  @media only screen and (min-width: 1022px) {
    .__nav_menu {
      display: flex !important;
    }

    .__menu_mobile {
      display: none !important;
    }
  }

  @media only screen and (max-width: 990px) {
    .navbar {
      .__logo {
        display: flex;
        width: 3rem;
        object-fit: contain;
        height: auto;
      }

      .__nav_menu {
        display: none !important;
      }

      .__menu_mobile {
        display: flex !important;
      }
    }
  }

  @media only screen and (max-width: 820px) {
    .__logo {
      width: 4rem;
    }
    .__nav_menu {
      display: none;
    }

    .__container_mobile {
      display: flex;
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      .__nav_menu {
        display: none;
      }

      .__menu_mobile {
        display: flex;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .__nav_menu {
      display: none;
    }

    .__menu_mobile {
      display: flex;
    }
  }

  @media only screen and (max-width: 350px) {
    .__nav_menu {
      display: none;
    }

    .__menu_mobile {
      display: flex;
    }
  }
}
