.navbar {
  display: flex;
  height: 67px;
  width: 100%;
  top: 0;
  position: sticky;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  opacity: 0.8;
  position: fixed;
  &.fixed {
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    z-index: 1;
  }
  .__content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px;
    border: 2px solid blue;
    justify-content: flex-end;
    align-items: center;

    .__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;
      height: auto;
      width: auto;
      height: auto;
      border: 2px solid green;

      li {
        border: 2px solid fuchsia;
        padding: 0.3rem;
        &:hover {
          color: blue;
        }
      }
    }

    .__logo {
      display: flex;
      width: 4rem;
      height: 4rem;
      border: 2px solid #000;
      a {
        display: block;
        color: #000;
        font-size: 24px;

        &:hover {
          color: violet;
        }
      }
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: blue;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: pink;
        color: violet;
      }
    }
  }
}
