.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;

  .__container {
    display: flex;
    align-items: center;
    bottom: 0;
    width: auto;
    color: #fff;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .__logo {
      width: 5rem;
      object-fit: cover;
      height: auto;
      padding-top: 0.5rem;
    }

    ul {
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;
      height: auto;
      width: auto;

      li {
        padding: 8px;
        font-size: small;

        a {
          color: #fff;
          font-size: 22px;
          &:hover {
            color: silver;
          }
        }
      }
      .__copyright {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        width: 100%;
      }

      .__takodev {
        display: block;
        p {
          font-size: 18px;
          padding-bottom: 8px;
        }
      }
    }
  }
}
//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 768px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
      .__logo {
        width: 4rem;
        padding-bottom: 0.5rem;
      }
      .__copyright {
        font-size: 22px;
        padding-bottom: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
      .__logo {
        width: 3rem;
        padding-bottom: 0.7rem;
      }
      .__copyright {
        font-size: 18px;
      }
    }
  }
}
