.maintenance {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  background-color: #000;

  .__container {
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    height: auto;

    .__logo {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        width: 25%;
        height: auto;
      }
    }
    .__txt {
      top: 50%;
      left: 50%;
      color: #fff;
      text-align: center;
      width: 100%;
      height: auto;
      p {
        margin-top: 10px;
        font-size: 30px;
        z-index: 2;
      }
    }
  }
}

///////////RESPONSIVE/////////////
//
@media only screen and (max-width: 820px) {
  .maintenance {
    padding: 3rem;
    .__container {
      .__image {
        img {
          object-position: 38% 76%;
        }
      }
      .__txt {
        p {
          font-size: 21px;
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .maintenance {
    padding: 2rem;
    .__container {
      height: 36rem;
      .__image {
        img {
          object-position: 39% 76%;
        }
      }
      .__txt {
        p {
          font-size: 19px;
        }
      }
    }
  }
}
