@use "./style/fonts.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

/* Reset universel pour box-sizing et padding/margin */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}
