@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap");

:root {
  --font-primary: "Darker Grotesque", sans-serif;
}

/* Reset global moved from src/App.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1;
  background: #000;
  font-family: var(--font-primary, "Darker Grotesque", sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style-type: none;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1.25rem, 3vw, 2.5rem);

  line-height: 1.2;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: clamp(0.95rem, 1.2vw, 1.125rem);
  line-height: 1.45;
  font-weight: 300;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: 300;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}

/* Desktop et plus */
@media (min-width: 900px) {
  h1 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
  }
  p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }
}
